html, body{	padding: 0px; margin: 0px; height: 100%; text-align: center;}
body {
	margin: 0px !important;
}
section{ height: 100vh;}
a { text-decoration: none;}
li{ list-style-type: none;}
h1, h2, h3, a {font-family: 'roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h2{} 
h3{font-size: 40px; padding-top: 8%; margin-bottom: 5px;color: white;}
h4, p {font-family: 'roboto slab', serif; color: #494949; opacity: 1;}
hr{	width: 30px; height: 3px; background: white; border: 0; margin: 0 auto 40 auto;}
li, #logo {transition: all 300ms; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms;}



header{
	width: 100%;
	height: 0px;
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	opacity: 0,5;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	z-index: 1;	
}

#logo{
	width: 140px;
	float: left;
	margin: 10px 0 0 50px; 
}

#logo :hover {
	opacity: 0.5;
}

#logo img{
	width: 100%;		
}

header nav{
	float: right;
	margin: 0px 50px 0 0; 	
}

header nav ul li{
	float: left;
	margin: 0px 16px 16px 0px;
}

header nav ul li a{
	font-size: 16px;
	color: white
}

header nav ul li :hover {
	padding-top: 5px;
}
