html, body{	padding: 0px; margin: 0px; height: 100%; text-align: center;}
body {
	margin: 0px !important;
}
section{ height: 100vh;}
a { text-decoration: none;}
li{ list-style-type: none;}
h1, h2, h3, a {font-family: 'roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h2{} 
h3{font-size: 40px; padding-top: 8%; margin-bottom: 5px;color: white;}
h4, p {font-family: 'roboto slab', serif; color: #494949; opacity: 1;}
hr{	width: 30px; height: 3px; background: white; border: 0; margin: 0 auto 40 auto;}
li, #logo {transition: all 300ms; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms;}

header{
	width: 100%;
	height: 0px;
	position: fixed;
	top: 0;
	left: 0;
	background:black;
	opacity: 0,5;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	z-index: 1;	
}

#logo{
	width: 140px;
	float: left;
	margin: 10px 0 0 50px; 
}

#logo :hover {
	opacity: 0.5;
}

#logo img{
	width: 100%;		
}

header nav{
	float: right;
	margin: 0px 50px 0 0; 	
}

header nav ul li{
	float: left;
	margin: 0px 16px 16px 0px;
}

header nav ul li a{
	font-size: 16px;
	color: white
}

header nav ul li :hover {
	padding-top: 5px;
}

#home{
	background: url("image/essen2.jpg");
	background-size: cover;
	background-attachment: fixed; 
	top: 0px;
}

#home h1{
	margin: 120px auto 0  auto;
	font-size: 50px;
	color: white;
}

#home h2{
	margin: 0 auto 0 auto;
	font-size: 25px;
	color: white;
}

#home img{
	width: 32px;
	margin-top: 310px;
	opacity: 0.7;
}

#home img:hover{
	opacity: 1;
}

#info img{
	position: absolute;
	right: 20px;
	width: 32px;
	margin-top: 120px;
	opacity: 0.7;	
}

#info img:hover{
	opacity: 1;
}

#aboutme{
	background-color: black;
}


#aboutme img{
	width: 300px;
	border-radius: 05px;
}

#aboutme img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-O-transform: scale(1.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}

#aboutme h4{
	font-size: 25px;
	color: white;
}

#aboutme p {
	width: 700px;
	margin: 0 auto 0 auto;
	color: white
}

#work{
	background: url("image/peacock.jpg");
	background-size: cover;
	background-attachment: fixed; 
	
}

#work h3
{
	color: white;
}

#work hr
{
	color: black;
}

#projects{
	width: 900px;
	margin: 0 auto 0 auto;
	
}

#projects ul{
	padding: 0;
}

#projects ul li {
	width: 33.3%;
	float: left;
	margin-bottom: 15px;
}

#projects img {
	width: 280px;
	height: 170px;
	border-radius: 5px;
}

#projects img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-O-transform: scale(1.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}

#contact{
	background-color: black;
}

footer{
	background-color: #f0f0f0;
	margin-top: -50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  /*position: absolute;*/
  z-index: 1;
  bottom: 125%;
  left: 98%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0,5;
}

